/* style.css */

body {
    background-color: rgb(20, 40, 60);
    color: rgb(240, 248, 255);
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 1.3em;
}

table {
    background-color: brown;
    margin-left: 0;
    margin-right: auto;
    width: 100%;
}

a {
    color: rgb(255, 111, 111);
}

.gallery {
    background: rgba(255, 255, 255, 0.2);
    padding: 3em;
}

.rounded {
    border-radius: 15px;
}

.gallery img {
    margin-right: auto;
    width: 600px;
}

th, tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.2);
}

td:nth-child(1) {
    text-align: right;
}

td:nth-child(2) {
    text-align: center;
}