<!-- emoji.html-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>My favorite emoji</title>
    <link rel="stylesheet" href="/static/CSS/style.css">
</head>
<body>
<nav>
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('gallery') }}">Gallery</a>
</nav>
<h1>My favorite emoji</h1>
<p>I don't just <em>like</em> emoji,<br>
I <strong>love</strong> emoji!</p>
<p>Here's a list of my most-used emoji:</p>
<ol>
    <li>🐞</li>
    <li>🐍</li>
    <li>👍</li>
</ol>
</body>
</html>