<!-- images/gallery.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Rotunda Image Gallery</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
    <link rel="stylesheet" href="/static/CSS/style.css">
</head>
<body>
<nav>
    <a href="{{ url_for('index') }}">Home</a>
</nav>
<h1>Rotunda Image Gallery</h1>
<div class="gallery rounded">
    <img src="/static/images/rotunda1.png" alt="Apocalyptic Rotunda." class="rounded">
    <img src="/static/images/rotunda2.png" alt="Futuristic Rotunda 1." class="rounded">
    <img src="/static/images/rotunda3.png" alt="Futuristic Rotunda 2." class="rounded">
    <img src="/static/images/rotunda4.png" alt="Prehistoric Rotunda." class="rounded">
    <img src="/static/images/rotunda5.png" alt="Futuristic Rotunda 3." class="rounded">
    <img src="/static/images/rotunda6.png" alt="Medieval Rotunda 1." class="rounded">
    <img src="/static/images/rotunda7.png" alt="Medieval Rotunda 2." class="rounded">
    <img src="/static/images/rotunda8.png" alt="Old Rotunda 1." class="rounded">
    <img src="/static/images/rotunda9.png" alt="Old Rotunda 2." class="rounded">
    <img src="/static/images/rotunda10.png" alt="Underwater Rotunda 1." class="rounded">
    <img src="/static/images/rotunda11.png" alt="Underwater Rotunda 2." class="rounded">
    <img src="/static/images/rotunda12.png" alt="Heaven and Hell Rotunda." class="rounded">
    <img src="/static/images/rotunda13.png" alt="Indian Rotunda." class="rounded">
    <img src="/static/images/rotunda14.png" alt="Chinese Rotunda." class="rounded">
</div>
</body>
</html>