<!-- schedule.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ college_name }}</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
    <link rel="stylesheet" href="/static/CSS/style.css">
</head>

<nav>
    <a href="{{ url_for('index') }}">Home</a>
</nav>

<script src="/static/ImageRotator.js"></script>
<script src="/static/Buttons.js"></script>

<body>
    <h1>UVA SCHDLER</h1>
    <img id="randomImage" src="" alt="Random Image">
    <p>UVA SCHDLER is an application that lets UVA students to create schedules based on all available UVA course information.</p>

    <button type="create">Login</button>
    <button type="create">Create User</button>
    <h2>Department List</h2>
    

    <table id="scheduleTable">
        <tr>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
        </tr>
      </table>
    <button onclick="addRow()">+</button>
    <button onclick="removeRow()">-</button>
    
    <h1>TIME TABLE</h1>
    <table border="5" cellspacing="0" align="center">
        <!--<caption>Timetable</caption>-->
        <tr>
            <td align="center" height="50" width="100"><br>
                <b>Day/Period</b></br>
            </td>
            <td align="center" height="50" width="100">
                <b>I<br>9:30-10:20</b>
            </td>
            <td align="center" height="50" width="100">
                <b>II<br>10:20-11:10</b>
            </td>
            <td align="center" height="50" width="100">
                <b>III<br>11:10-12:00</b>
            </td>
            <td align="center" height="50" width="100">
                <b>12:00-12:40</b>
            </td>
            <td align="center" height="50" width="100">
                <b>IV<br>12:40-1:30</b>
            </td>
            <td align="center" height="50" width="100">
                <b>V<br>1:30-2:20</b>
            </td>
            <td align="center" height="50" width="100">
                <b>VI<br>2:20-3:10</b>
            </td>
            <td align="center" height="50" width="100">
                <b>VII<br>3:10-4:00</b>
            </td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Monday</b>
            </td>
            <td align="center" height="50">Eng</td>
            <td align="center" height="50">Mat</td>
            <td align="center" height="50">Che</td>
            <td rowspan="6" align="center" height="50">
                <h2>L<br>U<br>N<br>C<br>H</h2>
            </td>
            <td colspan="3" align="center" height="50">LAB</td>
            <td align="center" height="50">Phy</td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Tuesday</b>
            </td>
            <td colspan="3" align="center" height="50">LAB
            </td>
            <td align="center" height="50">Eng</td>
            <td align="center" height="50">Che</td>
            <td align="center" height="50">Mat</td>
            <td align="center" height="50">SPORTS</td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Wednesday</b>
            </td>
            <td align="center" height="50">Mat</td>
            <td align="center" height="50">phy</td>
            <td align="center" height="50">Eng</td>
            <td align="center" height="50">Che</td>
            <td colspan="3" align="center" height="50">LIBRARY
            </td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Thursday</b>
            </td>
            <td align="center" height="50">Phy</td>
            <td align="center" height="50">Eng</td>
            <td align="center" height="50">Che</td>
            <td colspan="3" align="center" height="50">LAB
            </td>
            <td align="center" height="50">Mat</td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Friday</b>
            </td>
            <td colspan="3" align="center" height="50">LAB
            </td>
            <td align="center" height="50">Mat</td>
            <td align="center" height="50">Che</td>
            <td align="center" height="50">Eng</td>
            <td align="center" height="50">Phy</td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Saturday</b>
            </td>
            <td align="center" height="50">Eng</td>
            <td align="center" height="50">Che</td>
            <td align="center" height="50">Mat</td>
            <td colspan="3" align="center" height="50">SEMINAR
            </td>
            <td align="center" height="50">SPORTS</td>
        </tr>
    </table>

</body>
</html>